// Custom styles.

#comments .info {
  display: none;
}

#comments .vsys {
  display: none;
}

ul {
  list-style-type: disc;  // 空心圆，实心圆为 disc
}

// .post-body p {
//   text-indent: 2em;
// }

// .post-body li p {
//   text-indent: 0em;
// }

